<body ng-app="myApp" class="bg">
  <div class="login-page">
    <div class="form">
      <form class="login-form" (ngSubmit)="login()" #loginForm="ngForm">
        <input type="text" placeholder="firstName" ngModel name="firstName"/>
        <input type="password" placeholder="password" ngModel name="password"/>
        <input type="submit" [disabled]="!loginForm.valid" value="submit"/>
        <a href="http://173.193.79.254:31090/auth/github" class="btn btn-block btn-social btn-github" >
          <img src="assets/img/github.png" width="32"/>
          sign in with github
        </a>
        <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
      </form>
    </div>
  </div>
</body>